* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    padding: 2px;
}

a.white:visited {
    text-decoration: none;
    color: #fff;
}

a.blue:visited {
    text-decoration: none;
    color: #5995DA;
}

.wrapper {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI';
}

.title {
    display: inline-block;
    background-color: rgba(0,139, 139,0.8);
    padding: 10px 15px;
    margin: 0;
}

.menu-container {
    color: #fff;
    background-color: #5995DA; /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center; 
    font-family: 'Segoe UI';
    font-weight: 1em;
}

.menu {
    border: 1px solid #fff;
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.github,
.project {
    align-self: flex-end;
    margin-bottom: 20px;
    font-family: 'Segoe UI';
}

.links {
    display: flex;
    justify-content: flex-end;
}

.login {
    margin-left: 20px;
    color:#fff;
}

.signup {
    margin-left: auto;
    color:#fff;
}

.header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
}

.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo-grid-container {
    display: flex;
    justify-content: center;
}

.photo-grid {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
}

.photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
}

.first-item {
    order: 1;
}

.last-item {
    order: -1;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    border: 1px solid #fff;
    background-color: #d6e9fe;
    height: 200px;
    flex: 1;
}

.footer-one,
.footer-three {
    background-color: #5995DA;
    flex: initial;
    width: 300px;
}